{% extends 'deshibazar/base.html' %}
{% block title %}Shop Details{% endblock %}
{% load static %}
{% load i18n %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/starrate.css' %}">
{% endblock %}

{% block content %}
<!-- Product Details Section Begin -->
<section class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large" src="{% static 'img/product/details/product-details-1.jpg' %}"
                            alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img data-imgbigurl="{% static 'img/product/details/product-details-2.jpg' %}"
                            src="{% static 'img/product/details/thumb-1.jpg' %}" alt="">
                        <img data-imgbigurl="{% static 'img/product/details/product-details-3.jpg' %}"
                            src="{% static 'img/product/details/thumb-2.jpg' %}" alt="">
                        <img data-imgbigurl="{% static 'img/product/details/product-details-5.jpg' %}"
                            src="{% static 'img/product/details/thumb-3.jpg' %}" alt="">
                        <img data-imgbigurl="{% static 'img/product/details/product-details-4.jpg' %}"
                            src="{% static 'img/product/details/thumb-4.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>Vetgetable’s Package</h3>
                    <div class="product__details__rating">
                        <div class="reviewdiv">
                            <div>
                                <img class="img" src="{% static 'img/stars_blank.png' %}" alt="img">
                            </div>
                            <div class="reviewcornerimage" style="width:71%;">
                                <img class="img" src="{% static 'img/stars_full.png' %}" alt="">
                            </div>
                        </div>
                        <span>(18 reviews)</span>
                    </div>
                    <div class="product__details__price">৳ 50.00</div>
                    <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam
                        vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet
                        quam vehicula elementum sed sit amet dui. Proin eget tortor risus.</p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">ADD TO CARD</a>
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <ul>
                        <li><b>Availability</b> <span>In Stock</span></li>
                        <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                        <li><b>Weight</b> <span>0.5 kg</span></li>
                        <li><b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                aria-selected="false">Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                aria-selected="false">Reviews <span>(140)</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                    Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Vivamus
                                    suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam
                                    vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada.
                                    Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat,
                                    accumsan id imperdiet et, porttitor at sem. Praesent sapien massa, convallis a
                                    pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula
                                    elementum sed sit amet dui. Vestibulum ante ipsum primis in faucibus orci luctus
                                    et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam
                                    vel, ullamcorper sit amet ligula. Proin eget tortor risus.</p>
                                <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                                    ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                                    elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                                    porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                                    nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                    Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed
                                    porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum
                                    sed sit amet dui. Proin eget tortor risus.</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                    Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                                    Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                                    sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                                    eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                                    sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                                    diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                                    ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                    Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                    Proin eget tortor risus.</p>
                                <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                                    ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                                    elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                                    porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                                    nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <!-- Rating section start -->
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="rating-block">
                                                <h4>Average user rating</h4>
                                                <h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
                                                <div class="mb-5">
                                                    <div class="reviewdiv">
                                                        <div>
                                                            <img class="img" src="{% static 'img/stars_blank.png' %}" alt="img">
                                                        </div>
                                                        <div class="reviewcornerimage" style="width:71%;">
                                                            <img class="img" src="{% static 'img/stars_full.png' %}" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <h4>Rating breakdown</h4>

                                            <div class="pull-left">
                                                <div class="pull-left" style="width:35px; line-height:1;">
                                                    <div style="height:9px; margin:5px 0;">5 <span class="fa fa-star"></span></div>
                                                </div>
                                                <div class="pull-left" style="width:180px;">
                                                    <div class="progress" style="height:9px; margin:8px 0;">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="5"
                                                            aria-valuemin="0" aria-valuemax="5" style="width: 28%">
                                                            <span class="sr-only">80% Complete (danger)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pull-right" style="margin-left:10px;">40</div>
                                            </div>

                                            <div class="pull-left">
                                                <div class="pull-left" style="width:35px; line-height:1;">
                                                    <div style="height:9px; margin:5px 0;">4 <span class="fa fa-star"></span></div>
                                                </div>
                                                <div class="pull-left" style="width:180px;">
                                                    <div class="progress" style="height:9px; margin:8px 0;">
                                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="4"
                                                            aria-valuemin="0" aria-valuemax="5" style="width: 39%">
                                                            <span class="sr-only">80% Complete (danger)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pull-right" style="margin-left:10px;">55</div>
                                            </div>

                                            <div class="pull-left">
                                                <div class="pull-left" style="width:35px; line-height:1;">
                                                    <div style="height:9px; margin:5px 0;">3 <span class="fa fa-star"></span></div>
                                                </div>
                                                <div class="pull-left" style="width:180px;">
                                                    <div class="progress" style="height:9px; margin:8px 0;">
                                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="3"
                                                            aria-valuemin="0" aria-valuemax="5" style="width: 21.42857142857143%">
                                                            <span class="sr-only">80% Complete (danger)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pull-right" style="margin-left:10px;">30</div>
                                            </div>

                                            <div class="pull-left">
                                                <div class="pull-left" style="width:35px; line-height:1;">
                                                    <div style="height:9px; margin:5px 0;">2 <span class="fa fa-star"></span></div>
                                                </div>
                                                <div class="pull-left" style="width:180px;">
                                                    <div class="progress" style="height:9px; margin:8px 0;">
                                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="2"
                                                            aria-valuemin="0" aria-valuemax="5" style="width: 5.714285714285714%">
                                                            <span class="sr-only">80% Complete (danger)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pull-right" style="margin-left:10px;">8</div>
                                            </div>

                                            <div class="pull-left">
                                                <div class="pull-left" style="width:35px; line-height:1;">
                                                    <div style="height:9px; margin:5px 0;">1 <span class="fa fa-star"></span></div>
                                                </div>
                                                <div class="pull-left" style="width:180px;">
                                                    <div class="progress" style="height:9px; margin:8px 0;">
                                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="1"
                                                            aria-valuemin="0" aria-valuemax="5" style="width: 8%">
                                                            <span class="sr-only">80% Complete (danger)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pull-right" style="margin-left:10px;">7</div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="center">
                                                <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Give a review</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Rating section end -->
                                <hr>
                                <!-- comment section start -->
                                <div class="container">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                                                </div>
                                                <div class="col-md-10">
                                                    <a class="float-left" ><strong>Maniruzzaman Akash</strong></a>
                                                    <div class="containerdiv">
                                                        <div>
                                                            <img class="img" src="{% static 'img/stars_blank.png' %}" alt="img">
                                                        </div>
                                                    <div class="cornerimage" style="width:70%;">
                                                            <img class="img" src="{% static 'img/stars_full.png' %}" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <p class="text-secondary">15 Minutes Ago</p>
                                                    <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic typesetting,
                                                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                                                        Aldus PageMaker including versions of Lorem Ipsum.</p>
                                                    <p>
                                                        <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                                                        <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card card-inner">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                                                        </div>
                                                        <div class="col-md-10">
                                                            <a><strong>Maniruzzaman Akash</strong></a>
                                                            <p class="text-secondary">15 Minutes Ago</p>
                                                            <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                                                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                                                                release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                                                                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                                            <p>
                                                                <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i>
                                                                    Reply</a>
                                                                <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- comment section end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->

<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Related Product</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'img/product/product-1.jpg' %}">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>৳ 30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'img/product/product-2.jpg' %}">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>৳ 30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'img/product/product-3.jpg' %}">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>৳ 30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'img/product/product-7.jpg' %}">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>৳ 30.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Product Section End -->

<!-- Comment Modal start -->
<div class="modal bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="contact-form spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="contact__form__title">
                                <h2>GIVE A REVIEW</h2>
                            </div>
                        </div>
                    </div>
                    <form action="#">
                        <div class="row">
                            <div class="col lg-12">
                                <input id="star-rating" name="star-rating" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1"
                                    data-size="md" required  oninvalid="this.setCustomValidity('Rating cannot be empty.')" onchange="this.setCustomValidity('')" type="text" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <input type="text" placeholder="Your name" required>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" placeholder="Your Email" required>
                            </div>
                            <div class="col-lg-12 text-center">
                                <textarea placeholder="Your comment"></textarea>
                                <button type="submit" class="site-btn">GIVE REVIEW</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Comment modal end -->
{% endblock %}

{% block js %}
    <script src="{% static 'js/starrate.js' %}"></script>
{% endblock %}